<h2>Listing Brands</h2>

<table class="table">
  <thead>
    <tr>
      <th>Parent</th>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for brand <- @brands do %>
    <tr>
      <td><%= brand.parent_id %></td>
      <td><%= brand.name %></td>

      <td class="text-right">
        <span><%= link "Show", to: brand_path(@conn, :show, brand), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: brand_path(@conn, :edit, brand), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: brand_path(@conn, :delete, brand), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Brand", to: brand_path(@conn, :new) %></span>
