<h2>Show Brand</h2>

<ul>

  <li>
    <strong>Parent:</strong>
    <%= @brand.parent_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @brand.name %>
  </li>

</ul>

<span><%= link "Edit", to: brand_path(@conn, :edit, @brand) %></span>
<span><%= link "Back", to: brand_path(@conn, :index) %></span>
